// Logo

.header {
   z-index: 4;
   position: absolute;
   top: 28px;
   left: 50%;
   transform: translateX(-50%);
   width: 100%;
   max-width: 648px;
   padding-left: 24px;
   padding-right: 24px;

   &__trigger {
      position: absolute;
      top: 8px;
      right: 24px;
      width: 24px;
      height: 24px;
      display: inline-block;
      cursor: pointer;
      
      &::before,
      &::after {
         content: " ";
         position: absolute;
         right: 0;
         width: 24px;
         height: 1px;
         background-color: rgba($color-text-dark, 0.72);
      }

      &::before {
         top: 8px;
      }

      &::after {
         top: 16px;
         width: 16px;
      }
   }

   &::after {
      content: " ";
      position: absolute;
      top: 40px;
      display: block;
      width: 72px;
      height: 1px;
      background-color: rgba($color-text-dark, 0.72);
   }

   @include media(min, md) {
      top: 46px;

      &__trigger {
         display: none;
      }
   }

   &.header--fixed {
      position: fixed;
   }
}