// Logo

.logo {
   position: absolute;
   top: 46px;
   left: 50%;
   transform: translateX(-50%);
   display: block;
   width: 100%;
   max-width: 600px;
   
   &::after {
      content: " ";
      position: absolute;
      top: 40px;
      display: block;
      width: 72px;
      height: 1px;
      background-color: rgba($color-text-dark, 0.72);
   }

   @include media(max, xs) {
      padding-left: 24px;
   }
}