// Social Navigation
.social {
   z-index: 2;
   position: relative;

   &__wrap {
      display: flex;
      width: 100%;
   }

   &__link {
      display: inline-block;
      font-size: 0.857em;
      font-weight: 600;
      text-decoration: none;
      text-transform: uppercase;
      color: $color-text-dark;
      width: 33.33%;

      &:hover {
         text-decoration: underline;
         cursor: pointer;
      }

      &:last-child {
         margin-bottom: 0;
      }
   }

   // Min Width
   @include media(min, md) {
      position: fixed;
      top: 50%;
      bottom: auto;
      right: 26px;
      transform: translateY(-50%);
      height: 320px;
      line-height: normal;
      writing-mode: tb;
      writing-mode: tb-rl;
      // IE
      writing-mode: vertical-lr;
      // Opera/webkit
      writing-mode: sideways-lr;

      &__link {
         margin-bottom: 56px; 
         width: auto;
      }
   }

   // Max Width
   @include media(max, md) {
      &__wrap {
         display: flex;
         width: 100%;
         max-width: 648px;
         margin-left: auto;
         margin-right: auto;
         padding: 24px 24px 20px;
      }
   }
}