// Layout Content

.content {
   z-index: 1;
   position: relative;
   flex: 1 0 auto;
   padding-top: 140px;
   padding-bottom: 36px;

   @include media(min, md) {
      padding: 180px 48px 72px;
   }
}