header(class="header")
   nav(class="header__nav")
      a(class="header__link", href="") Story
      a(class="header__link", href="") Resumen
      a(class="header__link", href="") Works
      a(class="header__link", href="") Email Me